body {
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:green;
    text-align: center;
}

p {
    padding: 5px;
}

#p1 {
    color: pink;
}

#emoji_heading {
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#taco {
    font-size: 60px;
}

#last {
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: brown;
}